html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#row1 {
    background-image: url("https://localhost:7186/Images/Tokyo1.jpg")
}

/*tbody {
    background-color: aqua*/
    /*background-image: url(../images/Tokyo1.jpg)*/
/*}*/






